<ion-view title="Account anlegen" id="page10" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="accountAnlegen-form7" class="list ">
            <ion-list id="accountAnlegen-list12" class=" ">
                <label class="item item-input item-stacked-label " id="accountAnlegen-input6">
                    <span class="input-label">Name</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input item-stacked-label " id="accountAnlegen-input7">
                    <span class="input-label">Benutzername</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input item-stacked-label " id="accountAnlegen-input8">
                    <span class="input-label">Password</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input item-stacked-label " id="accountAnlegen-input9">
                    <span class="input-label">Password wiederholen</span>
                    <input type="text" placeholder="">
                </label>
            </ion-list>
            <a ui-sref="tabsController.account" id="accountAnlegen-button11" class=" button button-positive  button-block ">Account anlegen</a>
        </form>
    </ion-content>
</ion-view>