<ion-view title="Chat: Usability Engineering" id="page9" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="chatUsabilityEngineering-list11" class=" ">
            <ion-item class="item-avatar  " id="chatUsabilityEngineering-list-item24">
                <h2>Hans</h2>
                <p>Hallo Kommilitonen!</p>
            </ion-item>
            <ion-item class="item-avatar  " id="chatUsabilityEngineering-list-item25">
                <h2>Laura</h2>
                <p style="white-space:normal;">Hallo Hans, toll, dass du da bist!</p>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 285px; height: 179px;"></div>
        <div id="chatUsabilityEngineering-button-bar3" class=" button-bar "></div>
        <form id="chatUsabilityEngineering-form6" class="list ">
            <label class="item item-input " id="chatUsabilityEngineering-input5">
                <input type="text" placeholder="">
            </label>
            <div>
                <div style="height:5px"></div>
                <button class="button">
                    ☺
                </button>

                <button class="button">Datei anhängen</button>

                <button class="button">Senden</button>
            </div>
        </form>
    </ion-content>
</ion-view>