<ion-view title="Gruppen" id="page5" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="gruppen-list5" class=" ">
            <ion-item class="item-thumbnail-left  " id="gruppen-list-item12" ui-sref="tabsController.chatWirLiebenTennis">
                <h2>Wir lieben Tennis</h2>
                <p>Frank, Hans, Tommy</p>
            </ion-item>
            <ion-item class="item-thumbnail-left  " id="gruppen-list-item13" ui-sref="tabsController.chatUsabilityEngineering">
                <h2>Usability Engineering</h2>
                <p>Hans, Laura, Lisa</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>