<ion-view title="Studium" id="page6" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="studium-list1" class=" ">
            <ion-item id="studium-list-item1" class="  ">Skripte</ion-item>
            <ion-item id="studium-list-item2" class="  ">Stundenplan</ion-item>
            <ion-item id="studium-list-item3" class="  ">Vorlesungen</ion-item>
            <ion-item id="studium-list-item4" class="  ">Prüfungen</ion-item>
            <ion-item id="studium-list-item5" class="  ">Events / Days</ion-item>
            <ion-item id="studium-list-item6" class="  ">Kalender</ion-item>
            <ion-item id="studium-list-item7" class="  ">Lageplan</ion-item>
        </ion-list>
    </ion-content>
</ion-view>